In [1]:
import numpy as np
from numpy.random import randn

In [2]:
import pandas as pd

In [33]:
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [34]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [35]:
hier_index.levels

FrozenList([['G1', 'G2'], [1, 2, 3]])

In [36]:
hier_index.labels

/home/ngoclam9415/miniconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  """Entry point for launching an IPython kernel.

FrozenList([[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [37]:
df = pd.DataFrame(randn(6, 2), hier_index, ["col1", "col2"])

In [38]:
df

          col1      col2
G1 1 -0.370888 -0.741247
   2 -0.900065 -0.677466
   3 -0.788621  0.869258
G2 1  0.155417 -1.081229
   2 -0.654228 -0.738276
   3 -0.634200 -1.846321

In [39]:
df.loc["G1"].loc[1]

col1   -0.370888
col2   -0.741247
Name: 1, dtype: float64

In [40]:
df.index.names # MEAN G1, G2 column and 1,2,3,1,2,3 column doesn't have any col name

FrozenList([None, None])

In [41]:
df.index.names = ['ID', 'TYPE']

In [42]:
df

             col1      col2
ID TYPE
G1 1    -0.370888 -0.741247
   2    -0.900065 -0.677466
   3    -0.788621  0.869258
G2 1     0.155417 -1.081229
   2    -0.654228 -0.738276
   3    -0.634200 -1.846321

In [48]:
df.loc["G1"].loc[2]["col1"]

-0.9000651357693702

In [62]:
df.xs(1, level="TYPE") # SELECT ALL DATA FROM ANY ROWS THAT HAVE "TYPE" = 1

        col1      col2
ID
G1 -0.370888 -0.741247
G2  0.155417 -1.081229

In [73]:
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
df = pd.DataFrame(randn(6, 2), hier_index, ["A", "B"])

In [74]:
df

             A         B
G1 1 -0.132201 -1.604625
   2 -0.754113 -0.710204
   3  0.012091  1.976160
G2 1  0.372361  0.629006
   2 -0.375097 -1.616418
   3  0.655951 -1.239541